@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /* letra maiuscula com forma de minuscula */
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

header > p {
    padding-bottom: 50px;
}

pre {
    white-space: pre-line; /* sem espaço antes dos paragrafos */
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(46, 44, 44);
    color: white;
    
}

section.imagem p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


